.mobile-nav-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* bottom nav */
.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  right: 0;
  justify-content: space-around;
  background-color: white;
  border-top: solid 1px #ccc;

  /* size of bottom nav */
  font-size: calc(1.5vh + 1vw);
  line-height: calc(2vh + 2vw);
}

.react-swipeable-view-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;

  /* size of bottom nav */
  margin-bottom: calc(4vh + 4vw);
}

.react-swipeable-view-container > div > div {
  height: 100%;
}

a.mobile-nav-item.item {
  padding: 0;
  margin: 1%;
  font-size: 1.1em;
  min-width: 7.1em;
  white-space: pre;
  max-width: 7em;
}

.mobile-nav-button {
  display: inline-block;
  text-align: center;
  color: black;
}

.mobile-nav-button.active {
  color: blue
}

.mobile-nav-all-buttons {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  flex-wrap: wrap;
  overflow: auto;
  align-content: space-around;
  padding-bottom: 50px;
  font-size: calc(1.5vh + 1.2vw);
}

.react-swipeable-view-container > div {
  position: relative;
}

.locationPopup{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1;
  overflow: auto;
}
.locationPopup .head {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
/*
.locationPopup .head:after{
  content: 'x';
  border-radius: 100%;
  width: 32px;
  height: 32px;
  font-size: 22px;
  font-weight: bold;
  border: #333 double 3px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 103%;
  background-color: pink;
  margin: 5px;
  cursor: pointer;
}
*/

.swipeable{
  display: flex;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.swipeable > * {
  /* overflow: hidden; */
  width: 100%;
  /* display: none; */
  min-width: 100%;
}





















