.mgbEditGraphicSty_checkeredBackground {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVQ4T2N89uzZfwY8QFJSEp80A+OoAcMiDP7//483HTx//hx/Ohg1gIFx6IcBALl+VXknOCvFAAAAAElFTkSuQmCC);
}

.mgbEditGraphicSty_thinBorder {
  border: 1px solid lightslategrey;
}

.mgbEditGraphicSty_thickBorder {
  border: 1px solid black;
}


.mgbEditGraphicSty_overlapUpLeft {
  position: relative;
  left: 16px;
  top: -16px;
}

.mgb-hidden {
	display: none !important;
}


/* frames view */
#framesView {
	background-color: white;
	overflow-y: visible;
}

.frameCanvases th {
	padding: 0 !important;
}

.layerCanvas {
	padding: 0 !important;
}

.highlight {
	background-color: #ccc;
}

#framesView table th.active {
	border: 1px solid #2185d0;
}

.animTR th {
	border-left: none !important;
	border-right: none !important;
}

.animTH {
	padding: 0 !important;
}

.animTH .label {
	padding-left: 0;
	padding-right: 0;
	min-height: 25px;
}

.animTH .label {
	width: 100% !important;
	text-align: center;
}

.TopToolBarRowIcon {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.zoomLeftIcon {
	padding-left: 10px !important;
	padding-right: 5px !important;
}

.zoomMiddleIcon {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.zoomRightIcon {
	padding-left: 5px !important;
	padding-right: 10px !important;
}

.noMargin {
	margin: 0 !important;
}



/* sprite layers minimized view */
.mgb-minimized .animHeader {	display: none; }
.mgb-minimized .framesHeader {  display: none; }
.mgb-minimized .layers {  display: none; }
.mgb-minimized .animTR { display: none; }
.mgb-minimized .minimizeHide { display: none; }
.mgb-minimized .minimizeSmall { width: 32px; }
.mgb-maximized .miniPlay {  display: none; }
.mgb-maximized .miniAddFrames {  display: none; }
