.tagPosition {
  /*position:relative;*/
  /*left:64px;*/
  /*top:16px;*/
}

.thinBorder {
  border: 1px solid black;

  /*position:absolute;*/
  /*left:0px;*/
  /*top:0px;*/
}

.overlapUpLeft {
  position: relative;
  left: 16px;
  top: -16px;
}
