.mgbEditGraphicSty_tagPosition {
  position:relative;
}

.mgbEditGraphicSty_checkeredBackground {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVQ4T2N89uzZfwY8QFJSEp80A+OoAcMiDP7//483HTx//hx/Ohg1gIFx6IcBALl+VXknOCvFAAAAAElFTkSuQmCC);
}

.mgbEditGraphicSty_thinBorder {
  border: 1px solid lightslategrey;
}

.mgbEditGraphicSty_thickBorder {
  border: 1px solid black;
}


.mgbEditGraphicSty_overlapUpLeft {
  position: relative;
  left: 16px;
  top: -16px;
}
