/* The lint marker gutter */

/* BASICS */

/* This is copied from node-modules/react-notifications/dist in order to avoid
   the usual did-it-load shenannighans

   We've also customized it a bit.
 */

.CodeMirror-dialog {
  position: absolute;
  left: 0;
  right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

.CodeMirror-foldmarker {
  color: blue;
  text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}

.CodeMirror-foldgutter {
  width: .7em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}

.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}

.CodeMirror-lint-markers {
  width: 16px;
}

.CodeMirror-lint-tooltip {
  background-color: infobackground;
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px;
  color: infotext;
  font-family: monospace;
  font-size: 10pt;
  overflow: hidden;
  padding: 2px 5px;
  position: fixed;
  white-space: pre;
  white-space: pre-wrap;
  z-index: 100;
  max-width: 600px;
  opacity: 0;
  transition: opacity .4s;
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}

.CodeMirror-lint-mark-error,
.CodeMirror-lint-mark-warning {
  background-position: left bottom;
  background-repeat: repeat-x;
}

.CodeMirror-lint-mark-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
}

.CodeMirror-lint-mark-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJFhQXEbhTg7YAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
}

.CodeMirror-lint-marker-error,
.CodeMirror-lint-marker-warning {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  position: relative;
}

.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
  padding-left: 18px;
  background-position: top left;
  background-repeat: no-repeat;
}

.CodeMirror-lint-marker-error,
.CodeMirror-lint-message-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAHlBMVEW7AAC7AACxAAC7AAC7AAAAAAC4AAC5AAD///+7AAAUdclpAAAABnRSTlMXnORSiwCK0ZKSAAAATUlEQVR42mWPOQ7AQAgDuQLx/z8csYRmPRIFIwRGnosRrpamvkKi0FTIiMASR3hhKW+hAN6/tIWhu9PDWiTGNEkTtIOucA5Oyr9ckPgAWm0GPBog6v4AAAAASUVORK5CYII=");
}

.CodeMirror-lint-marker-warning,
.CodeMirror-lint-message-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEX/uwDvrwD/uwD/uwD/uwD/uwD/uwD/uwD/uwD6twD/uwAAAADurwD2tQD7uAD+ugAAAAD/uwDhmeTRAAAADHRSTlMJ8mN1EYcbmiixgACm7WbuAAAAVklEQVR42n3PUQqAIBBFUU1LLc3u/jdbOJoW1P08DA9Gba8+YWJ6gNJoNYIBzAA2chBth5kLmG9YUoG0NHAUwFXwO9LuBQL1giCQb8gC9Oro2vp5rncCIY8L8uEx5ZkAAAAASUVORK5CYII=");
}

.CodeMirror-lint-marker-multiple {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAACVBMVEUAAAAAAAC/v7914kyHAAAAAXRSTlMAQObYZgAAACNJREFUeNo1ioEJAAAIwmz/H90iFFSGJgFMe3gaLZ0od+9/AQZ0ADosbYraAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  height: 100%;
}

.CodeMirror-search-match {
  background: gold;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  box-sizing: border-box;
  opacity: .5;
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;
  background: white;
  font-size: 90%;
  font-family: monospace;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 19em;
  overflow: hidden;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}

.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
  position: absolute;
  background: #ccc;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical {
  position: absolute;
  z-index: 6;
  background: #eee;
}

.CodeMirror-simplescroll-horizontal {
  bottom: 0;
  left: 0;
  height: 8px;
}

.CodeMirror-simplescroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-simplescroll-vertical {
  right: 0;
  top: 0;
  width: 8px;
}

.CodeMirror-simplescroll-vertical div {
  right: 0;
  width: 100%;
}

.CodeMirror-overlayscroll .CodeMirror-scrollbar-filler,
.CodeMirror-overlayscroll .CodeMirror-gutter-filler {
  display: none;
}

.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
  position: absolute;
  background: #5f6155;
  border-radius: 3px;
}

.CodeMirror-overlayscroll-horizontal,
.CodeMirror-overlayscroll-vertical {
  position: absolute;
  z-index: 6;
}

.CodeMirror-overlayscroll-horizontal {
  bottom: 0;
  left: 0;
  height: 6px;
}

.CodeMirror-overlayscroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-overlayscroll-vertical {
  right: 0;
  top: 0;
  width: 6px;
}

.CodeMirror-overlayscroll-vertical div {
  right: 0;
  width: 100%;
}

.CodeMirror-Tern-completion {
  padding-left: 22px;
  position: relative;
  line-height: 1.5;
}

.CodeMirror-Tern-completion:before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  line-height: 16px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.CodeMirror-Tern-completion-unknown:before {
  content: "?";
  background: #4bb;
}

.CodeMirror-Tern-completion-object:before {
  content: "O";
  background: #77c;
}

.CodeMirror-Tern-completion-fn:before {
  content: "F";
  background: #7c7;
}

.CodeMirror-Tern-completion-array:before {
  content: "A";
  background: #c66;
}

.CodeMirror-Tern-completion-number:before {
  content: "1";
  background: #999;
}

.CodeMirror-Tern-completion-string:before {
  content: "S";
  background: #999;
}

.CodeMirror-Tern-completion-bool:before {
  content: "B";
  background: #999;
}

.CodeMirror-Tern-completion-guess {
  color: #999;
}

.CodeMirror-Tern-tooltip {
  border: 1px solid silver;
  border-radius: 3px;
  color: #444;
  padding: 2px 5px;
  font-size: 90%;
  font-family: monospace;
  background-color: white;
  white-space: pre-wrap;
  max-width: 40em;
  position: absolute;
  z-index: 10;
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
}

.CodeMirror-Tern-hint-doc {
  max-width: 25em;
  margin-top: -3px;
}

.CodeMirror-Tern-fname {
  color: black;
}

.CodeMirror-Tern-farg {
  color: #70a;
}

.CodeMirror-Tern-farg-current {
  text-decoration: underline;
}

.CodeMirror-Tern-type {
  color: #07c;
}

.CodeMirror-Tern-fhint-guess {
  opacity: .7;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: auto;
  /* MGB non standard */
  color: black;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */
}

.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: none;
  /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}



.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker {
  color: black;
}

.CodeMirror-guttermarker-subtle {
  color: #999;
}

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}

/* Shown when moving in bi-directional text */

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}

@keyframes blink {
  0% {

  }

  50% {
    background-color: transparent;
  }

  100% {

  }
}

/* Can style cursor different in overwrite (non-insert) mode */



.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {
  color: blue;
}

.cm-s-default .cm-quote {
  color: #090;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-header,
.cm-strong {
  font-weight: bold;
}

.cm-em {
  font-style: italic;
}

.cm-link {
  text-decoration: underline;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: #708;
}

.cm-s-default .cm-atom {
  color: #219;
}

.cm-s-default .cm-number {
  color: #164;
}

.cm-s-default .cm-def {
  color: #00f;
}



.cm-s-default .cm-variable-2 {
  color: #05a;
}

.cm-s-default .cm-variable-3 {
  color: #085;
}

.cm-s-default .cm-comment {
  color: #a50;
}

.cm-s-default .cm-string {
  color: #a11;
}

.cm-s-default .cm-string-2 {
  color: #f50;
}

.cm-s-default .cm-meta {
  color: #555;
}

.cm-s-default .cm-qualifier {
  color: #555;
}

.cm-s-default .cm-builtin {
  color: #30a;
}

.cm-s-default .cm-bracket {
  color: #997;
}

.cm-s-default .cm-tag {
  color: #170;
}

.cm-s-default .cm-attribute {
  color: #00c;
}

.cm-s-default .cm-hr {
  color: #999;
}

.cm-s-default .cm-link {
  color: #00c;
}

.cm-s-default .cm-error {
  color: #f00;
}

.cm-invalidchar {
  color: #f00;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, .3);
}

.CodeMirror-activeline-background {
  background: #e8f2ff;
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
}

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom: 1;
  *display: inline;
}

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */
}

.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  font-variant-ligatures: none;
}

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}



.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */

.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
}

.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}

div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}

.CodeMirror-crosshair {
  cursor: crosshair;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #d7d4f0;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */

.CodeMirror span {
  *vertical-align: text-bottom;
}

/* Used to force a border model for a node */

.cm-force-border {
  padding-right: .1px;
}

@media print {
  /* Hide the cursor when printing */

  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */

.cm-tab-wrap-hack:after {
  content: '';
}

/* Help users use markselection to safely style text background */

span.CodeMirror-selectedtext {
  background: none;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
  /* MGB non standard */
}

/* Used in EditCode.js for CodeMirror markers for other user's edit activity */

.mgb-cm-user-markers {
  width: .8em;
}

* {
  /* hide blue overlay on touch - android */
  -webkit-tap-highlight-color: transparent;
}

.ui.sidebar {
  overflow: visible !important;
  z-index: 1000 !important;
}

#root {
  height: auto;
}

.no-events {
  pointer-events: none;
}

.bold.active {
  font-weight: bold;
}

body {
  /*   -webkit-font-smoothing: antialiased; */
}

.mgb-pixelated {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.mgb-suir-plainSegment {
  border: 0 !important;
  /* SUI has a habit of putting unwanted dividers on horizontal segments */
  background: transparent !important;
  overflow-y: auto;
}

.accept-drop {
  position: relative;
}

body.dragging {
  cursor: hand;
}

body.dragging .accept-drop:after {
  content: attr(data-drop-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 110%;
  border: solid 1px;
}

body.dragging .accept-drop:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.mgb-keycap-button {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 1px 3px 1px 3px;
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
}

/***************************************
 *        Map Editor Properties        *
 ***************************************/

.compact {
  margin-top: -19px;
}

.compact .compact > .ui.accordion .title.active,
.compact .compact > .ui.accordion div.label .title {
  padding-bottom: 0 !important;
  padding-top: 3px !important;
  margin: 0 !important;
}

.compact .compact.ui.content.active {
  padding: 4px;
  margin: 0;
}

.compact .ui.input.fluid {
  padding-left: 30%;
}

.ui.styled.accordion .compact .accordion .active.title {
  padding-bottom: 0;
}

.ui.styled.accordion .compact .accordion .column > .title {
  padding: 0.1em 0 0 5px;
  position: absolute;
  background-color: #eee;
  z-index: 1;
  width: 38%;
  line-height: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
  top: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  white-space: nowrap;
}

.compact .ui.input.fluid a {
  float: right;
  cursor: pointer;
}

.compact .title {
  position: relative;
}

.ui.styled.accordion .compact .accordion div.label {
  padding: 0;
  position: relative;
}

.compact .ui.input > input,
.compact .ui.input > select,
.compact .ui.input > .dropdown {
  font-size: 10pt;
  padding: 0.3em 0.5em 0.3em 10%;
  margin: 2px 2px 2px 5px;
  min-height: 2em;
}

.compact > label .title {
  padding: 0.1em;
}

.compact > .ui.accordion.array.content {
  padding: 0 10px;
}

/***************************************
 *             SUI Hacks               *
 * TODO(@levi): remove / move to theme *
 ***************************************/

.icon.flip {
  transform: scaleX(-1);
}

.icon.animate.rotate {
  /* Chrome, Safari, Opera */
  animation: rotate 5s infinite;
  /* Chrome, Safari, Opera */
  animation-timing-function: linear;
}

.animate {
  transition: .3s !important;
}

.no-animate .animate {
  transition: 0s !important;
}

.mgb-assetcard-width {
  min-width: 230px;
  max-width: 230px;
}

.mgb-projectcard-width {
  min-width: 230px;
  max-width: 230px;
}

.mgb-useritem-width-normal {
  min-width: 230px;
  max-width: 230px;
}

.mgb-useritem-width-narrow {
  min-width: 118px;
  max-width: 118px !important;
}

.mgb-grayscale {
  color: rgba(0, 0, 0, 0.5) !important;
  filter: grayscale(100%) contrast(70%) brightness(120%);
}

/***************************************
 *            MGB Toolbar              *
 ***************************************/

.mgb-toolbar .button.main {
  z-index: 1;
}

.mgb-toolbar .vertical {
  width: 100%;
}

.mgb-toolbar .vertical * {
  width: 100%;
}

.invisible {
  opacity: 0;
  display: none !important;
}

/* class that highlights element for short duration */

.ui.button.isvisible.new {
  animation-name: highlight !important;
  /*animation-iteration-count: infinite !important;*/
  animation-iteration-count: 1 !important;
  animation-duration: 1s !important;
  perspective: 1500px;
}

@keyframes blur {
  0% {
    background-color: red;
  }

  100% {

  }
}

@keyframes highlight {
  0% {
    /*transform: rotateY(-90deg);*/
    box-shadow: 0 0 5px 3px #080;
    /*background-color: rgba(255,0,0,0.7);*/
  }

  100% {
    /*transform: rotateY(360deg);*/
    box-shadow: 0 0 0 0 #040;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes mgbTutorialPointer {
  0% {
    background: rgba(251, 189, 8, 0.1);
  }

  20% {
    background: rgba(251, 189, 8, 0.2);
  }

  100% {
    background: transparent;
  }
}

/***************************************
 *            Code Editor              *
 ***************************************/

.lint-error-text {
  display: none;
  position: absolute;
  white-space: pre;
  word-wrap: normal;
  background-color: red;
  border-radius: 5px;
  z-index: 100;
  left: 50px;
  padding: 1px 3px;
  border: solid 1px rgba(0, 0, 0, 0.3);
}

.lint-error:hover .lint-error-text {
  display: block;
}

/* this is special read only case in the code editor*/

.read-only .CodeMirror:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.mgb-show-on-parent-hover {
  opacity: 0;
}

*:hover > .mgb-show-on-parent-hover {
  opacity: 1;
}

.allInline > .inline.fields {
  padding: 0 5px;
  margin: 0;
  line-height: 38px;
}

.allInline > * {
  display: inline-block !important;
}

.mgb-disabled {
  pointer-events: none;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 6px;
}

.mgb-disabled * {
  color: #999 !important;
}

.loading-notification {
  position: absolute;
  background-color: orange;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  padding: 2px 20px;
  z-index: 1;
  top: 12px;
  /* move down as overflow hides top of */
  transition: 1s;
  opacity: 0;
}

.loading-notification.show {
  opacity: 1;
}

.ui.card.animated.fadeIn:hover {
  position: relative;
  z-index: 1;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@font-face {
  font-family: Notification;
  src: url(fonts/notification.eot?s3g3t9);
  src: url(fonts/notification.eot?) format("embedded-opentype"), url(fonts/notification.woff?s3g3t9) format("woff"), url(fonts/notification.ttf?s3g3t9) format("truetype"), url(fonts/notification.svg?s3g3t9) format("svg");
  font-weight: 400;
  font-style: normal;
}

.notification-container {
  box-sizing: border-box;
  position: fixed;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  width: 480px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
}

.notification {
  transition: transform 0.4s, opacity 0.4s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.7, 1);
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 0;
  color: #FFF;
  background-color: #CCC;
  box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0.1), 0 0 0.125em rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  margin: 1.25em;
  pointer-events: all;
  opacity: 0.95;
}

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700;
  margin: 0 0 5px;
}

.notification:focus,
.notification:hover {
  opacity: 1;
}

.notification-enter {
  transform: translateY(-100%);
  opacity: 0;
  z-index: 1;
}

.notification-enter.notification-enter-active {
  z-index: 1;
}

.notification-leave {
  z-index: 0;
}

.notification-leave.notification-leave-active {
  transition-timing-function: cubic-bezier(0.8, 0, 0.9, 0.5);
  transform: translateY(-100%) scale(0.95);
  opacity: 0;
  z-index: 0;
}

.notification:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  font-family: Notification;
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}

.notification-info {
  background-color: #2F96B4;
}

.notification-info:before {
  content: "\f05a";
}

.notification-success {
  background-color: #51A351;
}

.notification-success:before {
  content: "\f058";
}

.notification-warning {
  background-color: #F89406;
}

.notification-warning:before {
  content: "\f06a";
}

.notification-error {
  background-color: #BD362F;
}

.notification-error:before {
  content: "\f057";
}