.mgb-hidden {
  display: none;
}

.importUploadForm {
  margin: 0 30px;
  /*margin: 0 auto;*/
  text-align: center;
  border: 5px dashed #999;

}
.importUploadForm.draggedOver{
  border-color: green;
  background-color: #DFFAD4;
}
