/*
.mgb-workstate-broken
{
  color: #52A7C4 !important;
}

.mgb-workstate-unknown
{
  color: #67B7C8 !important;
}

.mgb-workstate-working
{
  color: #92D8CD !important;
}

.mgb-workstate-polished
{
  color: #AEE7BB !important;
}
*/

.workstate-label {
  border-radius: 2.5px !important;
}
