.mgb-workstate-broken
{
    background-color: #282 !important;
}

.mgb-workstate-experiment
{
    background-color: #6a6 !important;
}

.mgb-workstate-unknown
{
    background-color: #c0d8c0 !important;
}

.mgb-workstate-working
{
    background-color: #cfc !important;
}

.mgb-workstate-polished
{
    background-color: #6f6 !important;
}

.mgb-workstate-showcase
{
    background-color: #0f0 !important;
}