.MapPlayer {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    left: 0; top: 0;
}
.actor-disabled-hint {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 0.28571429rem;
    padding: 8px;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.content.active.actor-tileset-content {
    min-height: 124px;
    position: relative;
}
.tilemap-wrapper.mode-eraser{
    cursor: not-allowed;
}
.loading-notification{
    position: absolute;
    background-color: orange;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    padding: 2px 20px;
}
.tileset-title{
    text-overflow: ellipsis;
    max-width: 79%;
    float: right;
    overflow: hidden;
    position: absolute;
}
