
.map-filled, .map-empty{
    transition: .3s;
    min-height: 500px;
    transform-style: preserve-3d;
}

.map-filled.preview:active{
    transition-duration: unset;
}

.highlight-active-layer .no-events:not(.grid-layer){
    opacity: 0.5;
}

.tilemap-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: inherit;
    transform-origin: 50% 50% -200px;
}
.tileset{
    position: relative;
}

/* 3d preview */
.tilemap-wrapper{
    /*perspective: 2000px; - this make cursor position bugous on chrome */
    -webkit-user-select: none;
    cursor: default;
    overflow: hidden;
}

.MapPlayer {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    left: 0; top: 0;
}
.actor-disabled-hint {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 0.28571429rem;
    padding: 8px;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.content.active.actor-tileset-content {
    min-height: 124px;
    position: relative;
}
.tilemap-wrapper.mode-eraser{
    cursor: not-allowed;
}

.tileset-title{
    text-overflow: ellipsis;
    max-width: 79%;
    float: right;
    overflow: hidden;
    position: absolute;
}
