
.map-filled, .map-empty{
    transition: .3s;
    min-height: 500px;
    transform-style: preserve-3d;
}

.map-filled.preview:active{
    transition-duration: unset;
}

.highlight-active-layer .no-events:not(.grid-layer){
    opacity: 0.5;
}

.tilemap-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: inherit;
    transform-origin: 50% 50% -200px;
}
.tileset{
    position: relative;
}

/* 3d preview */
.tilemap-wrapper{
    /*perspective: 2000px; - this make cursor position bugous on chrome */
    -webkit-user-select: none;
    cursor: default;
    overflow: hidden;
  /* fix fixed elements */
  transform: translate(0, 0);
}

.MapPlayer {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    left: 0; top: 0;
}
.actor-disabled-hint {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 0.28571429rem;
    padding: 8px;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.content.active.actor-tileset-content {
    min-height: 124px;
    position: relative;
}
.tilemap-wrapper.mode-eraser{
    cursor: not-allowed;
}

.tileset-title{
    text-overflow: ellipsis;
    max-width: 79%;
    float: right;
    overflow: hidden;
    position: absolute;
}
.ui.modal > .content.tilesetPreviewModal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tilesets .showList{
    float: right;
    width: 25px;
    height: 20px;
    display: inline-block;
}
.tilesetPreview {
    display: inline-block;
    width: 96px;
    height: 96px;
    border: solid 1px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin: 5px;
    cursor: pointer;
    transition: 0.1s;
    top: 0;
}
.tilesetPreview:hover {
    top: -3px;
    box-shadow: 0px 0px 8px grey;
}
.tilesetPreview img {
    display: block;
    margin: 10px auto;
    max-width: 90%;
}
.tilesetPreview span.tilesetPreviewTitle {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    height: 35px;
    background-color: rgba(0,0,0,0.8);
    line-height: 15px;
    color: white;
    word-wrap: break-word;
}

.selectedTileset {
    opacity: 1 !important;
    box-shadow: 0px 0px 10px silver !important;
    background-color: #C7DCF9;
}

.inspectInfo {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 0 2px 10px 5px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.85);
    color: white;
    z-index: 5
}
