.ui.sidebar {
  overflow: visible !important;
  z-index: 1000 !important
}

#root { 
  height: auto;
}

.no-events{
  pointer-events: none;
}

.tilemap-tile{
  margin: -1px;
  border: solid 1px;
  position: absolute;
}
