/* Keep colors in sync with landing-layout.less @blueGradient */
.hero {
  background: #1698A2;
  background-image: linear-gradient(to bottom, #2B7277, #00BECC);
  box-shadow: inset 0 0.2em 1em rgba(0, 0, 0, 0.2);
}

.hero a {
  color: lightblue;
}

.hero a:hover {
  color: lightskyblue;
}
