.react-swipeable-view-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobile-nav-all-buttons{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    flex-wrap: wrap;
    overflow: auto;
    align-content: space-around;
    padding-bottom: 50px
}