::-webkit-scrollbar {
  width: 6px !important;  /* remove scrollbar space */
  height: 6px !important;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(0,0,0,0.1);
  box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.1);
}
