#mgb-mage-touch-controller{
  font-size: 0.01vw;
  margin-bottom: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  user-select: none;
  width: 100%;
  height: 35vw;
  max-height: 40vh;
  z-index: 100;
  transition: 0.5s;
}

#mgb-mage-touch-controller .button {
  position: absolute;
  width: 14em;
  height: 14em;
  background-color: rgb(30, 59, 61);
  border-radius: 4em;
  cursor: pointer;
  display: flex;
  font-size: 100em;
  justify-content: center;
  align-items: center;
  border: solid 0.11em rgb(35, 41, 41);
  transform-origin: center;
  box-shadow: inset 0 0 4em 0.8em rgb(140, 196, 196);
}
#mgb-mage-touch-controller .button.arrow {
  border-radius: 4em 4em 9em 9em;
}
#mgb-mage-touch-controller .button:after{
  font-size: 10em;
  position: relative;
  font-weight: bolder;
  outline: 2em rgb(140, 196, 196);
  -webkit-text-stroke: 0.02em rgb(28, 68, 72);
  color: white;
  text-shadow: 0 0 35px rgb(140, 196, 196);
}
#mgb-mage-touch-controller .button.arrow:after{
  content: "\2191";
  top: -0.2em;
}
#mgb-mage-touch-controller .button.up{
  bottom: 59%;
  left: 12em;
  z-index: 1;
}

#mgb-mage-touch-controller .button.left{
  bottom: 31%;
  left: 1em;
  transform: rotate(-90deg);
}

#mgb-mage-touch-controller .button.right{
  bottom: 31%;
  left: 23em;
  transform: rotate(90deg);
}

#mgb-mage-touch-controller .button.down{
  bottom: 3%;
  left: 12em;
  transform: rotate(180deg);
}
#mgb-mage-touch-controller .button.shoot {
  bottom: 35%;
  right: 1em;
}
#mgb-mage-touch-controller .button.shoot:after{
    content: "S"
}

#mgb-mage-touch-controller .button.melee {
  bottom: 10%;
  right: 20em;
}
#mgb-mage-touch-controller .button.melee:after {
  content: "M"
}

#mgb-mage-touch-controller .button.pause{
  right: 22em;
  bottom: 80%;
  width: 16em;
  height: 7em;
}
#mgb-mage-touch-controller .button.pause:after {
  content: "Pause";
  font-size: 3em;
}

#mgb-mage-touch-controller .button.inventory{
  left: 40em;
  bottom: 44%;
  width: 16em;
  height: 7em;
}
#mgb-mage-touch-controller .button.inventory:after {
  content: "Inventory";
  font-size: 3em;
}
