
.mgbDraftjsRoot {
    background: #FFF;
}

.mgbDraftjsEditor {
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.mgbDraftjsEditor :global(.public-DraftEditor-content) {
    min-height: 240px;
}

 