.mgb-mock-skillsmap {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.25em;
  background: #FFF;
  line-height: 1;
}
.mgb-mock-skillsmap .bar {
  margin-bottom: 0.125em;
  background-repeat: repeat-x;
}
.mgb-mock-skillsmap .bar .label {
  padding: 0.3em 0.6em;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}
.mgb-mock-skillsmap .bar.getStarted {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 4.16666667% 100%;
}
.mgb-mock-skillsmap .bar.getStarted .label {
  width: 87.5%;
  color: #3d5c3d;
  background-image: linear-gradient(90deg, #c1e0c1, #c1e0c1 1px, #a6d3a6 1px, #a6d3a6);
  background-size: 4.76190476% 100%;
}
.mgb-mock-skillsmap .bar.code {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 1% 100%;
}
.mgb-mock-skillsmap .bar.code .label {
  width: 33%;
  color: #3d5c3d;
  background-image: linear-gradient(90deg, #c1e0c1, #c1e0c1 1px, #a6d3a6 1px, #a6d3a6);
  background-size: 3.03030303% 100%;
}
.mgb-mock-skillsmap .bar.art {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 3.33333333% 100%;
}
.mgb-mock-skillsmap .bar.art .label {
  width: 50%;
  color: #5c513d;
  background-image: linear-gradient(90deg, #ffe9c1, #ffe9c1 1px, #ffe0a6 1px, #ffe0a6);
  background-size: 6.66666667% 100%;
}
.mgb-mock-skillsmap .bar.design {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 2% 100%;
}
.mgb-mock-skillsmap .bar.design .label {
  width: 76%;
  color: #5c3d5c;
  background-image: linear-gradient(90deg, #ecc4ec, #ecc4ec 1px, #e3abe3 1px, #e3abe3);
  background-size: 2.63157895% 100%;
}
.mgb-mock-skillsmap .bar.audio {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 20% 100%;
}
.mgb-mock-skillsmap .bar.audio .label {
  width: 60%;
  color: #5c3d3d;
  background-image: linear-gradient(90deg, #ece0e0, #ece0e0 1px, #e3d3d3 1px, #e3d3d3);
  background-size: 33.33333333% 100%;
}
.mgb-mock-skillsmap .bar.analytics {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 25% 100%;
}
.mgb-mock-skillsmap .bar.analytics .label {
  width: 50%;
  color: #5c3d47;
  background-image: linear-gradient(90deg, #ecc8d4, #ecc8d4 1px, #e3b1c2 1px, #e3b1c2);
  background-size: 50% 100%;
}
.mgb-mock-skillsmap .bar.writing {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 9.09090909% 100%;
}
.mgb-mock-skillsmap .bar.writing .label {
  width: 90.90909091%;
  color: #3d4c5c;
  background-image: linear-gradient(90deg, #c1c4c8, #c1c4c8 1px, #a6abb1 1px, #a6abb1);
  background-size: 10% 100%;
}
.mgb-mock-skillsmap .bar.marketing {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 16.66666667% 100%;
}
.mgb-mock-skillsmap .bar.marketing .label {
  width: 66.66666667%;
  color: #3d5c43;
  background-image: linear-gradient(90deg, #c1ecc8, #c1ecc8 1px, #a6e3b1 1px, #a6e3b1);
  background-size: 25% 100%;
}
.mgb-mock-skillsmap .bar.community {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 16.66666667% 100%;
}
.mgb-mock-skillsmap .bar.community .label {
  width: 33.33333333%;
  color: #3d405c;
  background-image: linear-gradient(90deg, #c1c4ec, #c1c4ec 1px, #a6abe3 1px, #a6abe3);
  background-size: 50% 100%;
}
.mgb-mock-skillsmap .bar.legal {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 10% 100%;
}
.mgb-mock-skillsmap .bar.legal .label {
  width: 80%;
  color: #3d5c5c;
  background-image: linear-gradient(90deg, #c1e0e0, #c1e0e0 1px, #a6d3d3 1px, #a6d3d3);
  background-size: 12.5% 100%;
}
.mgb-mock-skillsmap .bar.business {
  background-image: linear-gradient(90deg, #FFF, #FFF 1px, #EEE 1px, #EEE);
  background-size: 16.66666667% 100%;
}
.mgb-mock-skillsmap .bar.business .label {
  width: 50%;
  color: #3d495c;
  background-image: linear-gradient(90deg, #c1c8d4, #c1c8d4 1px, #a6b1c2 1px, #a6b1c2);
  background-size: 33.33333333% 100%;
}
video {
  width: 100%;
}
.mgb-video {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  background: #000;
  overflow: hidden;
}
.mgb-video img,
.mgb-video video,
.mgb-video::before,
.mgb-video::after {
  will-change: opacity, transform;
  transition: opacity 0.5s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.3, 1, 0.7, 1);
}
.mgb-video video {
  background: #000;
  position: absolute;
  transform: scale3d(1.05, 1.05, 1);
}
.mgb-video.mgb-video-initialized video {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.mgb-video.mgb-video-initialized img {
  opacity: 0.35;
  filter: blur(3px);
  transform: scale(1.025);
  pointer-events: none;
}
.mgb-video:not(.mgb-video-initialized) video {
  opacity: 0;
  pointer-events: none;
}
.mgb-video:not(.mgb-video-initialized)::before {
  content: '';
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  pointer-events: none;
}
.mgb-video:not(.mgb-video-initialized)::after {
  font-family: 'Icons';
  content: "\f04b";
  position: absolute;
  font-size: 5rem;
  line-height: 1;
  color: #FFF;
  opacity: 1;
  z-index: 2;
  pointer-events: none;
  text-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}
.mgb-video:not(.mgb-video-initialized):hover::before {
  opacity: 0;
}
.mgb-video:not(.mgb-video-initialized):hover::after {
  opacity: 1;
  transform: scale3d(1.2, 1.2, 1);
}
/***************************************
 *                Hero                 *
 ***************************************/
.mgb-hero {
  background: radial-gradient(#00BECC, #2B7277);
}
.mgb-hero .mgb-hero-caption {
  text-align: center;
  padding: 6em 0 3em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.mgb-hero .mgb-hero-caption .ui.header {
  font-size: 3rem;
  margin: 0;
}
.mgb-hero .mgb-hero-caption .mgb-lead {
  font-size: 2rem;
  color: #FFF;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-weight: 300;
  margin-bottom: 21px;
}
/***************************************
 *            Piled Section            *
 ***************************************/
.mgb-piled-container {
  position: relative;
  z-index: 1;
  /*
   * Game
   */
}
.mgb-piled-container .mgb-piled-panel,
.mgb-piled-container .mgb-piled-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 5px 0 10px rgba(0, 0, 0, 0.05);
}
.mgb-piled-container .mgb-piled-section {
  margin: 1em -1em;
}
.mgb-piled-container .mgb-piled-panel.back {
  background: #F4E285;
  transform: perspective(4000px) rotateY(0) skewY(-0.5deg);
}
.mgb-piled-container .mgb-piled-panel.middle {
  background: #F4A259;
  /* Note that rotateY(5deg) caused layer/zindex issues on Chrome on iOS */
  transform: perspective(5000px) rotateY(0) skewY(1deg) scale(0.98);
}
.mgb-piled-container .mgb-piled-panel.front {
  /* Note that rotateY(-2deg) caused layer/zindex issues on Chrome on iOS */
  background: #BC4B51;
  transform: perspective(3000px) rotateY(0) skewY(-0.5deg) scale(0.97);
}
.mgb-piled-container .mgb-game {
  text-align: center;
  height: 292px;
  min-height: 100%;
  width: 1px;
  min-width: 100%;
}
.mgb-piled-container .mgb-game iframe,
.mgb-piled-container .mgb-game img {
  border: none;
}
.mgb-piled-container .mgb-game-iframe {
  height: 292px;
  min-height: 100%;
  width: 1px;
  min-width: 100%;
}
/***************************************
 *            Main Bullets             *
 ***************************************/
.mgb-bullets {
  padding: 2em 0;
  background: #483C46;
  text-align: center;
}
/***************************************
 *             Alternating             *
 ***************************************/
.mgb-alternating {
  padding: 3em 0;
  background: radial-gradient(#00BECC, #2B7277);
}
.mgb-alternating .mgb-alternating-media {
  box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0.1);
}
/***************************************
 *               Footer                *
 ***************************************/
footer {
  padding: 4em 0 2em;
  background: #373E40;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9em;
}
.mgb-for-everyone-main {
  font-size: 1.2em;
}
/***************************************
 *          Media Query Sizes          *
 ***************************************/
@media (max-width: 767px) {
  .mgb-game-column {
    width: calc(100vw - 180px) !important;
    height: calc( 100vw / 2.16 ) !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mgb-game,
  .mgb-game-iframe {
    margin-right: auto;
    margin-left: auto;
  }
  .mgb-hero-left-column {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .mgb-hero-right-column {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) and (max-width: 1139px) {
  .mgb-game {
    margin-right: auto;
    margin-left: auto;
  }
  .mgb-hero-left-column {
    padding-left: 2em !important;
    text-align: left;
    min-width: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .mgb-hero-right-column {
    text-align: left;
    min-width: 200px;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1140px) {
  .mgb-game {
    margin-right: auto;
    margin-left: auto;
  }
  .mgb-game-column {
    max-width: 680px;
  }
  .mgb-hero-left-column {
    text-align: left;
    min-width: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .mgb-hero-right-column {
    text-align: left;
    min-width: 200px;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .mgb-game,
  .mgb-game-iframe {
    max-height: 200px;
  }
}
