.edit-game .form .inline > label {
    min-width: 25% !important;
    text-align: right !important;
}

.fs-exit-pos-container {
  width: 20em;
  height: 20em;
  position: relative;
  font-size: 0.3em;
}
.fs-exit-pos-container > .ui.button{
  position: absolute;
  width: 5em;
  height: 5em;
  cursor: pointer;
  font-size: 1em;
}

.fs-exit-pos-container .top.left {
  border-bottom-right-radius: 2em;
}
.fs-exit-pos-container .top.right {
  border-bottom-left-radius: 2em;
}
.fs-exit-pos-container .bottom.left {
  border-top-right-radius: 2em;
}
.fs-exit-pos-container .bottom.right {
  border-top-left-radius: 2em;
}

.fs-exit-pos-container .top.center,.fs-exit-pos-container .bottom.center {
  height: 3.5em;
}
.fs-exit-pos-container .middle.left,.fs-exit-pos-container .middle.right {
  width: 3.5em;
}
