.fs-exit-pos-container > *{
  position: absolute;
  top: 0;
  right: 0;
}

.fs-exit-pos-container .left {
  left: 0;
}
.fs-exit-pos-container .center {
  left: 50%;
  transform: translateX(-50%);
}
.fs-exit-pos-container .right {
  right: 0;
}
.fs-exit-pos-container .top {
  top: 0;
}
.fs-exit-pos-container .middle {
  top: 50%;
  transform: translateY(-50%);
}
.fs-exit-pos-container .bottom {
  bottom: 0;
}
.fs-exit-pos-container .middle.center {
  transform: translate(-50%, -50%);
}
